
/*.MathJax {
  font-size: 30em; !important;
}*/

* {
  color: #555;
  font-weight: 300;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

a {
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #1CA4FC;
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1100px;
  margin: auto;
}

h1 {
  font-size: 36px;
  padding: 0;
  width:100%;
  text-align:left;
  border-bottom: 1px solid #000;
  margin:10px 0 15px; 
}

h1 span {
  font-size: 30px;
  background: #fff;
  padding: 0 0 0 0;
}

h2 {
  font-size: 24px;
  padding: 0;
  width:100%;
  text-align:left;
  border-bottom: 1px solid #000;
  margin:10px 0 15px; 
}

#name a {
  font-size: 30px;
}


#wrapper {
  padding-top: 10px;
  min-height: 100%;
  width: 90% ;
  margin: 0 auto;
}

#header {

}

#subsection {
  padding-top: 0px;
  padding-bottom: 10px;
}

#content {
  width: 90%;
  padding-left: 20px;
  padding-bottom: 20px;
  float: center;
  font-size: 16px;
}

#content p {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 16px;
}

#content ol {
  padding-left: 5%;
}
#content ul {
  padding-left: 5%;
}
#content li {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

/*#content ul {
  list-style-image: none;
  list-style-type: none;
}

#content ol {
  padding-left: 20px;
}


#content li {
  padding-bottom: 10px;
}*/


#pub_notes ul {
  list-style-type: None;
  padding-left: 20px;
}

#pub_notes li {
  padding-bottom: 0px;
}



#footer {
}

#profile {
  float: top;
  display: block;
  width: 300px;
  padding-left: 20px;
  text-align: justify;
}

#profile img {
  width: 240px;
}

#name {
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
}

#profile_info {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#profile_info p {
  display: block;
  width: 300px;
  text-align: left;
}

#profile_contact {
  font-size: 16px;
}

#profile_links ul {
  list-style-image: none;
  list-style-type: none;
}

#profile_links li {
  display: inline;
  white-space: nowrap;
}

#profile_links a {
  font-size: 16px;
}

#profile_links li:after { content: " \00b7"; }
#profile_links li.nobullet:after { content: none; }

.pub {
  padding-bottom: 10px;
  font-size: 13px;
}

.pub_title {
  font-weight: bold;
  font-size: 14px;
}

.pub_title a {
  font-weight: bold;
  font-size: 14px;
}

.pub span {
  display:block;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.section {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

/*Flexbox stuff*/

#split-panel-parent {
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

#split-panel-child {
  /*background: tomato;*/
  width: 250px;
  height: auto;
  margin: auto;
  padding-right: 10px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
  position: relative;
}

#split-panel-child-center {
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -60px;
}

#split-panel-child ul {
  padding-bottom: 10px;
  padding-left: 20px;
  list-style-type: disc;
}

#split-panel-child li {
  padding-bottom: 0px;
}



