
body {
 /*background-color: #E0FFFF;*/
}

p.publications {
  /*line-height: 2;*/
}

p.quotes {
  max-width: 500px;
  margin-left: 0;
  margin-right: auto;
  text-align: "left";
}

.blag {
  max-width: 640px;
  margin-left: 0;
  margin-right: auto;
  text-align: "left";
}

